{% extends "base.html" %}
{% block head %}
<title>Bookshelf</title>
<link rel="stylesheet" href="{{url_for('static',filename = 'index.css')}}">
{% endblock %}
{% block body %}


<main role="main" class="container-fluid">
    <div class="wrapper">
        <div class="txt-wrapper">
            <h1 class="cover-heading d-flex justify-content-center"> Bookshelf </h1>
            <p class="lead d-flex justify-content-center">書籍を一箇所で管理。</p>
        </div>
        <p class="lead d-flex justify-content-center">
            <a class="btn btn-lg btn-info" href="{{ url_for('login') }}">ログイン</a> <a class="btn btn-lg btn-info"
                href="{{ url_for('register') }}">新規登録</a>
        </p>
    </div>
</main>



{% endblock %}