{% extends "base.html" %}
{% block head %} <title>login</title>
<link rel="stylesheet" href="{{url_for('static',filename = 'forms.css')}}"> {% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<p class="alert alert-{{category}}">{{message}}</p>
{% endfor %}
{% endwith %}
<main>
    <div class="wrapper">
        <h1>ログイン画面</h1>
        <br>
        <form action="#" method="POST">
            <p>ユーザーネーム <input type="text" name="username"> </p>
            <p>パスワード <input type="text" name="password"> </p>
            <p> <input class="btn btn-info" type="submit" value="ログイン"> </p>
        </form>
    </div>
</main>
</p>
{% endblock %}