{% extends "base.html" %}
{% block head %} <title>add book</title>
<link rel="stylesheet" href="{{url_for('static',filename = 'main.css')}}">{% endblock %}
{% block body %}
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<p class="alert alert-{{category}}">{{message}}</p>
{% endfor %}
{% endwith %}
<br>
<main>
    <form action="#" method="POST">
        <p　class="form-group">題名: <input type="text" name="title" value="{{title if title}}" class="form-control"> </p>
        <p　class="form-group">作者: <input type="text" name="book_author" value="{{book_author if book_author}}"
                class="form-control"> </p>
        <p> <input type="submit" value="更新" class="btn btn-primary mb-2"> </p>
    </form>
    <a href="{{ url_for('bookshelf') }}">キャンセル</a>
</main>
{% endblock %}